*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400px;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
}
.cont-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.footer-container{
    max-width: 1210px;
    margin: 0 auto;
}
.nav-a{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}
.nav-span{
    margin-right: 114px;

}
button{
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    height: 68px;
    width: 256px;
    padding: 16px 0px;
}

.button-style-1{
    background-color: #FA4A0C;
    border: none;
    margin-right: 35px;
}
.button-style-2{
    background: none;
    border: 1px solid white;
}
.restapp{
    background-image: url('/img/image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 0 178px ;
}
.restapp-info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #F7F7F7;
}
.restapp-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px auto;
    max-width: 800px;

}
.restapp-about{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #F7F7F7;
    margin-bottom: 50px;
}
.order_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.order{
    background-image: url("/img/image2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 0 178px ;
    padding: 147px 0 131px;  
}
.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-app{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    text-align: center;
    margin-top: 56px;
}
.mobile-container{
    margin-right: 142px;
    margin-top: 100px;
    margin-bottom: 79px;
}
.mobile_head{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}
.mobile_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    max-width: 561px;
    margin: 17px 0; ;
}
.mobile_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 27px 0;
    max-width: 467px;
}
.container-2{
    margin: 0 auto;
    max-width: 1440px;
}

.mobile1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.mobile_head1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}
.mobile_title1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    max-width: 462px;
}
.mobile_text1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}
.mobile-container1{
    margin-top: 29px;
    margin-left: 197px;
    margin-bottom: 185px;
}
@media screen and (max-width: 414px){
.container{
    width: 414px;
    height: 112px;
}
.cont-flex{
    display: flex;
}
nav:last-child{
    margin: 0px 100px;
}
.restapp{
    background: none;
    color: white;
    text-align: center;
    padding: 80px 0 178px ;
}
.restapp-info{
    color: #737373;
    t
    width: 150px;
    height: 24px;
    font-size: 90%;
}
}